.componente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.cronometro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 50%;
}